{% extends 'base.html' %} {% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-2 text-center">Django App</h1>

        <p class="fs-5 py-3" style="text-align: justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit error neque cum quasi. Aperiam fugiat provident, cumque
            excepturi eveniet dolore voluptatem pariatur nihil neque, error ab vel sit magni rem! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Fugit error neque cum quasi. Aperiam fugiat provident, cumque excepturi eveniet dolore
            voluptatem pariatur nihil neque, error ab vel sit magni rem! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit error neque cum quasi. Aperiam fugiat provident, cumque excepturi eveniet dolore voluptatem pariatur nihil
            neque, error ab vel sit magni rem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit error neque cum
            quasi. Aperiam fugiat provident, cumque excepturi eveniet dolore voluptatem pariatur nihil neque, error ab vel sit
            magni rem!
        </p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">Sign In</a>
            <a class="btn btn-dark" href="/signup">Sign Up</a>
        </div>
    </section>
</main>

{% endblock %}
